.painel {
    margin: 10px 0;
    padding: 10px;
    width: 640px;
    border-radius: 4px;
    box-shadow: inset 1px 1px 4px#999;
}

.novidades {
    float: left;
    background-color: #F5DCDC;
    background: linear-gradient(#F5DCDC, #BEBEF4)
}

.mais-vendidos {
    float: right;
    background-color: #DCDCF5;
    background: linear-gradient(#DCDCF5, #F4BEBE);
}

.painel li {
    display: inline-table;
    list-style-type: none;
    vertical-align: top;
    width: 140px;
    padding-bottom: 10px;
    margin-left: -75px;
    margin-top: -20px;
    margin-right: 1px;
}

.painel h2 {
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-top: 2px;
    margin-left: 2px;
    text-shadow: 3px 3px 2px #FFF;
}

.painel a {
    color: #333;
    font-size: 24px;
    width: 8px;
    text-align: center;
    text-decoration: none;
}

img {
    margin-left: 1px;
    vertical-align: left;
    width: 190px;
}